# 🔒 BAZE DE DATE / CONFIGURĂRI SENSIBILE

SIEM/mysql/
/sysloguri.db
*.sql
*.log
*.out

# 🔐 FISIERE CONFIG PERSONALE
my.ini
*.env

# ⚙️ BINARE, EXECUTABILE, BUILDURI
*.exe
*.dll
*.so
*.a
*.o
*.bin
*.deb
*.tar.gz

# ⚒️ TOOLING GO
*.test
/go.sum

# 📦 DEPENDINȚE LOCALE (dacă folosești VSCode)
.vscode/
.idea/

# 🗂 BACKUPURI & FIȘIERE TEMP
*~
*.swp
.DS_Store
Thumbs.db
